fastapi
uvicorn[standard]
python-dotenv
pydantic-settings
langchain
langchain-community
langchain-text-splitters
chromadb
sentence-transformers
pypdf2
python-docx
groq
langchain-groq
sqlalchemy
ragas==0.2.15
datasets
langchain-openai
